<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>클릭 시 숫자 증가🍀</h1>
    <div id="countP"></div>
    <button id="up" style="
    background-color: seagreen;
    color: white; padding: 6px;
    border: none; border-radius: 4px">수 증가</button>

    <button id="link" style="
    background-color: pink; padding: 6px;
    border: none; border-radius: 4px">전송</button>
    <script src="static/index.js"></script>
</body>
</html>